@page
@model final_project.Pages.admin.IndexModel

<partial name="sidenav" />

<!-- (B) MAIN -->
<main id="pgmain">
   <h1>Welcome to the Content Management System</h1>
   <img class="cms" src="~/img/admin/cms.svg" />
</main>