<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">
                    Contact Us</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8"> 

                   <form method="post" onsubmit="f1()">
                       <input name="data1" class="contact_email" type="email" placeholder="Client Email" />
                        <textarea name="data2" class="contact_textarea"></textarea>
                       <button class="contact_btn">Submit</button>
                   </form>  

            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<script>
    function f1() { 
        alert("Data send successfully");
    }
</script>