@using Microsoft.EntityFrameworkCore

@{
    var contextOptions = new DbContextOptionsBuilder<ApplicationDbContext>()
            .UseSqlServer(@"Server=(localdb)\MSSQLLocalDB;Database=aspnet-final_project;
                Trusted_Connection=True;MultipleActiveResultSets=true")
            .Options;

    ApplicationDbContext context = new ApplicationDbContext(contextOptions);
    var results_list = context.Product;

    var active_list = (from item in results_list
                       where item.active == true
                       orderby item.Order ascending  /* or descending */
                       select item).ToList();
}

<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Best Products Prices We Offer For Ice Cream Lovers</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel product-carousel">

                    @foreach (var item in active_list)
                    {
                        <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                            <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                                <h4 class="font-weight-bold text-white mb-0">$@item.Price</h4>
                            </div>
                            <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3" style="width: 150px; height: 150px;">
                                <img class="rounded-circle w-100 h-100" src="img/@item.Image" style="object-fit: cover;">
                            </div>
                            <h5 class="font-weight-bold mb-4">@item.Name</h5>
                            <a href="" class="btn btn-sm btn-secondary">Order Now</a>
                        </div>
                    }

                    


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->